#### Import library

In [2]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import seaborn as sns

## Praprosess data

In [6]:
df = pd.read_csv('data_train.csv')
df

,ID,tanggal_waktu,suhu,beban_listrik,kecepatan_angin,tekanan_udara,dampak_lingkungan,konsumsi_listrik
0,0,2021-09-17 00:00:00,15.9,-17.1,571.910,1003.0,A,216.0
1,1,2021-09-17 01:00:00,15.5,-19.3,575.040,996.0,A,210.0
2,2,2021-09-17 02:00:00,15.1,-20.0,578.435,1000.0,A,225.0
3,3,2021-09-17 03:00:00,15.9,-17.1,582.580,995.0,A,216.0
4,4,2021-09-17 04:00:00,15.9,-19.3,586.600,1005.0,A,222.0
...,...,...,...,...,...,...,...,...
24331,32179,2025-05-19 19:00:00,27.8,10.7,4.505,981.0,A,186.0
24332,32180,2025-05-19 20:00:00,27.8,7.9,4.005,976.0,A,198.0
24333,32181,2025-05-19 21:00:00,27.8,10.0,5.920,989.0,A,192.0
24334,32182,2025-05-19 22:00:00,27.0,9.3,3.040,982.0,A,183.0
24335,32183,2025-05-19 23:00:00,27.4,10.0,4.205,979.0,A,192.0

In [7]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24336 entries, 0 to 24335
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 24336 non-null  int64
 1   tanggal_waktu      24336 non-null  object
 2   suhu               24336 non-null  float64
 3   beban_listrik      24336 non-null  float64
 4   kecepatan_angin    24336 non-null  float64
 5   tekanan_udara      24336 non-null  float64
 6   dampak_lingkungan  24336 non-null  object
 7   konsumsi_listrik   24283 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 1.5+ MB

,ID,suhu,beban_listrik,kecepatan_angin,tekanan_udara,konsumsi_listrik
count,24336.000000,24336.000000,24336.000000,24336.000000,24336.000000,24283.000000
mean,16027.381657,25.161082,-1.783510,23.631823,986.012964,532.445209
std,9299.957517,4.888658,10.521302,46.781818,12.130831,4826.021227
min,0.000000,12.700000,-32.900000,1.075000,953.000000,174.000000
25%,8051.750000,21.100000,-10.700000,3.165000,977.000000,219.000000
50%,16079.500000,25.800000,-1.400000,6.670000,986.000000,270.000000
75%,24155.250000,29.400000,7.900000,22.700000,995.000000,342.000000
max,32183.000000,35.300000,18.600000,586.600000,1024.000000,99999.000000